ul {
    background-color: rgb(22, 3, 14);
    height: 200px;
    margin-top: 100px;
}

header{
    position: sticky;
    background-color: crimson;
    top: 1px;
}

div {
    /* position:relative; */
    background-color: darkcyan; 
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border: 3px solid #73AD21;
}
.css-element {
    background-color: rgb(95, 156, 208);
    position: absolute;
    top: 350px;
    right: 30px;
    left: 20px;
    
}

.js-element{
    background-color: #73AD21;
    position: fixed;
    /* display: none; */
    top: 10px;
    right: 10px;

}

.html-element {
    background-color: darksalmon;
    position: sticky;
    top: 25px;
}
