body {
    margin: 0px;
}

span {
    display:inline-block;
    background-color: darkorchid;
    width: 50px;
    height: 50px;
    padding: 25px;
    border: 10px solid palevioletred;
    margin: 20px;
}
img {
    background-color: crimson;
    height: 400px;
}
iframe {
    width: 400px;
    height: 200px;
}
video {
   width: 300px;
   height: 400px;

}
